---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");
  return [
    { params: { tag: "astro" }, props: { posts: allPosts } },
    { params: { tag: "programming" }, props: { posts: allPosts } },
    { params: { tag: "neovim" }, props: { posts: allPosts } },
    { params: { tag: "blog" }, props: { posts: allPosts } },
  ];
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={`Tag: ${tag}`}>
  <p>{tag}タグが付いている記事</p>
  <ul>
    {
      posts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
