---
export async function getStaticPaths() {
  return [
    { params: { tag: "astro" } },
    { params: { tag: "programing" } },
    { params: { tag: "neovim" } },
  ];
}
const { tag } = Astro.params;

import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title={`Tag: ${tag}`}>
  <p>{tag}タグが付いている記事</p>
</BaseLayout>
