---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const pageTitle = "ioridram Blog";
const allPosts = await getCollection("posts", ({ data }) => !data.draft);

// post-3, post-2, post-1 の順番でソート（新しい記事が上）
allPosts.sort((a, b) => {
  const numA = parseInt(a.slug.match(/\d+/)?.[0] ?? "0");
  const numB = parseInt(b.slug.match(/\d+/)?.[0] ?? "0");
  return numB - numA;
});
---

<BaseLayout pageTitle={"blog/ioridram"}>
  <p>ブログページは現在準備中です。しばらくお待ちください。</p>
  <ul>
    <!-- <li><a href="../post/post-1">記事1</a></li>
    <li><a href="post/post-2">記事2</a></li>
    <li><a href="post/post-3">記事3</a></li> -->
    {
      allPosts.map((post) => (
        <BlogPost
          url={`/posts/${post.slug}`}
          title={post.data.title}
          image={post.data.image}
          pubDate={post.data.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
