---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>blog/ioridram</title>
  </head>
  <body>
    <header>
      <Header />
      <h1 class="glitch-text">きっと何物にもなれる</h1>
    </header>
    <p>ブログページは現在準備中です。しばらくお待ちください。</p>
    <ul>
      <li><a href="post/post-1">記事1</a></li>
      <li><a href="post/post-2">記事2</a></li>
      <li><a href="post/post-3">記事3</a></li>
      <ul></ul>
    </ul>
    <Footer />
  </body>
</html>
<script>
  import "../scripts/glitch.ts";
</script>
