---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="markdown-post">
    <h1>{frontmatter.title}</h1>
    <p class="post-date">Published on: {frontmatter.date}</p>
    <slot />
  </article>
</BaseLayout>
